/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
	text-decoration:none;
}
.foto-all {						 /*устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul, li{
	 list-style-type:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
	min-width: 320px;
}
body {
	background:#fff;
	color: #fff;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family:"Roboto", sans-serif;	
}
 a:visited { /* порядок правил для ссылок имеет значение */
	color: #eee;
	text-decoration: none;
}
a:hover {
	color: #145e56;
	text-decoration:none;
}
a:focus, a:active {
	color: #E72828;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{
	max-width:100%;
	
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
header{
	
}

	.full-screen{
		background: #407a5a url(../images/bg-head2.jpg) center top no-repeat;
		background-size: cover;
		/*height: 100vh; */
		
	}
		.center-block-main{
				max-width: 1170px; 
				margin:0 auto;
			}

			.top-line{
				padding: 15px 3% 100px;
				display:flex;
				justify-content:space-between;
			}

				.menu{
					width: 50%;
				}
					.menu ul{
						display: flex;
						justify-content:space-around;
						padding-top: 35px;
					}

						.menu li a{
							color:#5c2828;
							text-transform: uppercase;
						}
						.menu li a:hover{
							color:#E72828;
							text-decoration: underline;
						}
						.active a{
							color:#E72828 !important;
							text-decoration: underline;
						} 

				.block-phone{
					text-align: right;
					font-weight: 600;
					color:#5c2828;
					width:21.5%;

				}
					.block-phone img{
						float:left;
						padding-top: 8px;
						padding-left: 10%;
					}
					.block-phone ul li{
						padding-right: 12%;
						padding-bottom: 6px;
					}
					.mail{
						padding-right: 3%!important;
					}
						.mail i{
							padding-right: 4%;
						}

			.bild{
				padding:0 0 100px 5%;	
				color: #f3eaea;
				width: 50%;
				float:left;
			}
				h1{
					font-size: 2.75em;
					font-weight: 700;
					padding-bottom: 15px;
				}

				.bild p{
					font-size: 2.25em;
					padding-bottom: 5px;
					
				}
				.bild i{
					padding-right: 2%;   				
				}
					
					.tx-down{
						padding-left: 11%;
					}
				
				form{
					float: right;
					width: 20%;
					padding:40px 3%;
					background: rgba(173, 209, 154, 0.4);
					margin: 20px 5% 0 0;
					border-radius: 50px;
					color:#000;
				}
				input{
					display: block;
					margin:10px 0;
					font-size:0.75em;
					width: 100%;
					padding: 7px 0 7px 5% !important;
					background-color:#dce8da;
					border: none;
				}
				input:focus{
					 border: 1px solid #000;
				}
				.btn{
					background-color: #145e56;
					color:#fff;
					box-shadow: 1px 7px #0c3833;
					border-radius: 18.5px;
					padding:10px 30%; 
					margin-top: 35px;
					text-transform:uppercase;
					font-size: 1.25em;
					letter-spacing: 3px;
				}
				.btn:active{
					transform: translateY(7px);
					box-shadow: none;
				}

			.bottom-line{
				background-color: #3d4f6e;
			}
			.btm-ln{
				display:flex;
				justify-content:space-between;
				padding: 50px 3%;
				font-size:1.125em;
			}
				.btm-ln span{
					font-size:2.5em;
				}

	.works{
		background: #d0e8ec;
		color:#146c53;
		padding-bottom: 40px;
	}
		h2{
			font-size:2.5em;
			padding: 65px 0 35px 0;
		}
		h4{
			font-size: 1.5em;
			padding-bottom: 40px;
		}
		.block4{
			padding-bottom: 80px;
		}
			.block4 .img{
				width: 23%;
				float: left;
				margin-left: 2.666666666666666%;
				position: relative;
				}
			.block4 .img:first-child{
				margin-left: 0;
			}

			.invisible{
				display: none;
				background: #3d4f6e;
				position: absolute;
				top:0px; left:1.7%;
				opacity: 0.8;
				padding: 90px 23.3%;
			}
			.block4 .img:hover .invisible{
				display: block;
			}
			.invisible a{
				color:#fff;
				}
			.invisible a:hover{
				color: #fff;
				border-bottom: 1px solid #fff;
			}

	.serv{
		background:#3d4f6e;
		padding-bottom: 80px;
	}

		.line1, .line2{
			padding-bottom: 35px;
		}
		
		.line1 p{
			float: left;
			width: 70%;
			font-size: 1.0625em;
			text-align: left;
			padding-left: 8%;
			line-height: 1.7;
			text-indent: 25px;
		}
		.line1 img{
			float: right;
			padding-right: 10%;
		}

		.line2 p{
			float: right;
			width: 70%;
			font-size: 1.0625em;
			text-align: left;
			padding-right: 8%;
			line-height: 1.7;
			text-indent: 25px;
		}

		.line2 img{
		float: left;
		padding-left: 5%;
		}

	.us{
		background: #d0e8ec;
		color:#146c53;
		padding-bottom: 100px;
	}
		.us p{
			color: #000;
			font-size: 1.0625em;
			text-align: left;
			padding: 0 3% 15px 8%;
			line-height: 1.7;
			text-indent: 25px;
		}


	footer{
		background: #428e21 url(../images/bg-ft.jpg) center top no-repeat;
		background-size: cover;
		height: 100%;
	}
		.ft-line{
			display: flex;
			justify-content: space-around;
			padding: 15px 0 25px 0;

		}
			.copy{
				padding-top: 25px;
			}
			.white, .white a{
				color: #fff !important;
			}
			.white .ft{
				padding-top: 25px;
			}
			.white img{
				padding-left: 19%;
			}
/*стили для модального окна*/
	.modal-open{overflow:hidden}.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0;}.modal.fade .modal-dialog{-webkit-transform:translate(0, -25%);-ms-transform:translate(0, -25%);-o-transform:translate(0, -25%);transform:translate(0, -25%);-webkit-transition:-webkit-transform 0.3s ease-out;-o-transition:-o-transform 0.3s ease-out;transition:transform 0.3s ease-out}.modal.in .modal-dialog{-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#d0e8ec;color:#000;border:1px solid #999;border:1px solid rgba(0,0,0,0.2);border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);-webkit-background-clip:padding-box;background-clip:padding-box;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}.modal-header .close{margin-top:-2px}.modal-title{margin:0;padding:0;line-height:1.42857143}.modal-body{position:relative;padding:0 15px}.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.5);box-shadow:0 5px 15px rgba(0,0,0,0.5)}.modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}}
	
	.close{
		margin-left: 90%;
	}
	.col-7{
		padding: 6% 0;
		line-height: 2;
		text-align:left;
	}
		.col-7 h5{
			font-size: 1.125em;
			text-align:center; 
		}

/*стили для анимации*/
	.animated {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}

	.animated.infinite {
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	}

	@-webkit-keyframes slideInLeft {
	  from {
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	    visibility: visible;
	  }

	  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}

	@keyframes slideInLeft {
	  from {
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	    visibility: visible;
	  }

	  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}

	.slideInLeft {
	  -webkit-animation-name: slideInLeft;
	  animation-name: slideInLeft;
	}

	@-webkit-keyframes slideInRight {
	  from {
	    -webkit-transform: translate3d(100%, 0, 0);
	    transform: translate3d(100%, 0, 0);
	    visibility: visible;
	  }

	  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}

	@keyframes slideInRight {
	  from {
	    -webkit-transform: translate3d(100%, 0, 0);
	    transform: translate3d(100%, 0, 0);
	    visibility: visible;
	  }

	  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}

	.slideInRight {
	  -webkit-animation-name: slideInRight;
	  animation-name: slideInRight;
	}	

	@-webkit-keyframes zoomIn {
	  from {
	    opacity: 0;
	    -webkit-transform: scale3d(0.3, 0.3, 0.3);
	    transform: scale3d(0.3, 0.3, 0.3);
	  }

	  50% {
	    opacity: 1;
	  }
	}

	@keyframes zoomIn {
	  from {
	    opacity: 0;
	    -webkit-transform: scale3d(0.3, 0.3, 0.3);
	    transform: scale3d(0.3, 0.3, 0.3);
	  }

	  50% {
	    opacity: 1;
	  }
	}

	.zoomIn {
	  -webkit-animation-name: zoomIn;
	  animation-name: zoomIn;
	}

	/*адаптивность*/

@media screen and (max-width: 1080px){
	.invisible{
		top:0px; left:0px;
		padding: 78px 24%;
		}
}


@media screen and (max-width: 980px){
	.top-line{
		display:block;
		padding-bottom: 30px;
			}
	.menu{
		width: 70%;
		float:right;
			}
		.block-phone{
			text-align: center;
			width:100%;
			padding-left: 15%;
				}		
			.block-phone ul li{
				float:left;
				width: 25%;
				padding:0!important;
				}
			.mail{
				box-sizing: border-box;
			}
			h1{
					font-size: 2em;
					padding-bottom: 10px;
				}
			.bild p{
					font-size: 1.5em;
				}
	.invisible{
		padding: 30.5% 24%;
			}
	.line1 p{
		padding-left: 2%;
		}
	.ft-line{
		display: block;
		padding: 15px 0 5px 0;
		text-align: center;
		}
		.copy{
			padding: 0;
		}
		.white{
			width: 100%;
			padding: 15px 0;
		}
			.white .ft{
				padding:0;
			}
			.white img{
				padding-left:10%;
			}
}

@media screen and (max-width: 760px){
	.block-phone img{
		padding-left: 15px;
	}
	form{
		float: none;
		width: 35%;
		margin: 0 auto 15px;
	}
	.bild{
		float: none;
		width: 100%;
		padding:0 0 30px 20%;
	}
	.btm-ln{
				padding: 50px 3%;
				font-size:1em;
			}
				.btm-ln span{
					font-size:1.5em;
				}
	.block4{
			padding-bottom: 20px;
		}
			.block4 .img{
				width: 43%;
				padding-bottom: 20px;
				float: left;
				margin-left: 2.666666666666666%;
				}
			.block4 .img:first-child{
				margin-left: 2.66666%;
			}
			.invisible{
				top:0px; left:35px;
				padding: 90px 19.5%;
				}

}
@media screen and (max-width: 580px){
	.menu{
		width: 100%;
		float:none;
			}
		.menu ul{
			padding: 5px 0 10px 0;
		}
		.block-phone{
		padding-left: 5px;
	}
	form{
		float: none;
		width: 50%;
		margin: 0 auto 15px;
	}
	.bild{
		float: none;
		width: 100%;
		padding:0 0 30px 5%;
	}
	.btm-ln{
				display: block;
				padding-top: 0;
			}
		.btm-ln p{
			text-align: center;
			padding-top: 15px;
		}
	.block4 .img{
				width: 100%;
				padding-bottom: 20px;
				float: none;
}

@media screen end (max-width: 320px){
	html{
		min-width: 320px;
	}
}